*.class

# Package Files #
*.jar
*.war
*.ear

# Alias file must not be committed
alias.properties

# Log and reports files must not be committed
*.log
*.csv
/target
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
